---
layout: generic_data_item
comments: true
pagination: true
meta:
  - label: 'Data Product Name'
    value: page.label
  - label: 'Description'
    value: page.description
  - label: 'Ecosystem Type'
    value: page.ecosystem_type
  - label: 'Link'
    value: page.link
    type: link
  - label: 'Accessibility'
    value: page.accessibility
  - label: 'Jurisdiction'
    value: page.jurisdiction
  - label: 'Spatial Data Type'
    value: page.spatial_data_type
  - label: 'Tags'
    value: page.tags
  - label: 'Data Product Type'
    value: page.data_product_type
  - label: 'Cell Size'
    value: page.cell_Size
---
