---
layout: generic_data_item
comments: true
pagination: true
meta:
  - label: 'Data Product Name'
    value: page.label
  - label: 'Marine or Terrestrial'
    value: page.marine_terrestrial
  - label: 'Link'
    value: page.link
    type: link
  - label: 'Open or Closed'
    value: page.open_closed
  - label: 'Jurisdiction'
    value: page.jurisdiction
  - label: 'Raster or Vector'
    value: page.raster_vector
  - label: 'Tags'
    value: page._tags
  - label: 'Data Product Type'
    value: page.data_product_type
  - label: 'Cell Size'
    value: page.cell_Size
---
